/* #region backbone */
a:active,
a:hover,
a {
    text-decoration: none;
}
/* #endregion */

/* #region base */

/* #endregion */

/* #region nav */
.nav {
    z-index: 50;
    position: fixed;
    overflow: hidden;
    width: 100%;
    padding: 27px 0;
    transition: all 0.4s ease-in-out;
}

.nav.active {
    background-color: rgba(189, 221, 221, 0.8);
}

.nav.burger {
    background: #dbeeee;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav__burger {
    display: none;
    z-index: 2;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40px;
    height: 40px;
}

.nav__burger span {
    height: 3px;
    width: 100%;
    background-color: #3d9090;
}

.nav__menu {
    display: flex;
    gap: 64px;
    transition: all 0.4s ease-in-out;
}

.nav.burger .nav__menu {
    background: #dbeeee;
    height: 100vh;
}

.nav__menu-item {
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: 0.055em;
    text-transform: uppercase;
    color: #3d9090;
    transition: transform 0.4s ease-in-out;
}

.nav__menu-item:hover {
    transform: scale(1.1);
}
/* #endregion */

/* #region shop */
.shop {
    margin: auto;
    min-height: 100vh;
    max-width: 1620px;
    overflow: hidden;
}

.shop .container {
    padding-top: 85px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* #region shop__content */
.shop__content {
    flex: 1;
}

.shop__content-desc {
    margin: 80px 0;
    width: 599px;

    font-weight: 100;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.055em;
    color: #000000;
}
.shop__content hr {
    background: #c4c4c4;
    margin: 0;
}
/* #endregion */

/* #region shop__collection */
.shop__collection {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.shop__collection-ellipse {
    z-index: -1;
    position: absolute;
    left: -93px;
    top: 25px;
    width: 462px;
    height: 450px;
    border-radius: 50%;
    background: #f0e0c9;
}

.shop__collection-lamp {
    position: absolute;
    left: 250px;
    max-width: 250px;
    max-height: 580px;
}
.shop__collection-lamp.load {
    width: 100px;
    top: 30px;
}

.shop__collection-desc {
    position: relative;
    padding-top: 158px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.055em;
    color: #000000;
}
.shop__collection-desc p {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}
.shop__collection-desc.load p {
    opacity: 0;
}
.shop__collection-desc img {
    position: absolute;
    width: 172px;
    left: 55px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
.shop__collection-desc.load img {
    opacity: 1;
}

.shop__collection-desc span {
    font-weight: 100;
    text-transform: capitalize;
}

.collection__items {
    margin-top: 41px;
    padding-top: 20px;
    width: 169px;
    overflow: hidden;

    background: #bddddd;
    border-radius: 15px 0px 0px 15px;
    /* box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.25); */
}

.collection__items-box {
    width: 100%;
    height: 428px;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 21px;

    align-items: center;
    justify-content: space-between;
    margin-bottom: 31px;
}

.collection__items-box::-webkit-scrollbar {
    width: 0px;
}

.collection__item {
    cursor: pointer;
    width: 133px;
    height: 131px;
    border-radius: 14px;
    transition: all 0.3s ease-in-out;
}
.collection__item:hover {
    background: rgba(255, 255, 255, 0.25);
}
.collection__item.active {
    background: rgba(255, 255, 255, 0.5);
}

.collection__item img {
    width: 100%;
    height: 120px;
    object-fit: contain;
}

.collection__list-switchers {
    height: 76px;
    width: 100%;
    display: flex;
}

.collection__switchers-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50%;
    height: 76px;
    background: #94a6a6;
    fill: white;
    transition: all 0.4s ease-in-out;
}
.collection__switchers-switch.active {
    background: #fff3da;
    fill: black;
}
.collection__switchers-switch svg {
    width: 32px;
    height: 32px;
}

/* #endregion */

/* #region shop__interier */
.shop__interier {
    z-index: 2;
    position: relative;
}

.shop__interier-lamp {
    z-index: 2;
    position: absolute;
    left: 214px;
    max-width: 150px;
    max-height: 360px;
}
.shop__interier-lamp.load {
    top: 30px;
    width: 100px;
}

.shop__interier-room {
    width: 100%;
    border-radius: 18px;
    box-shadow: -278px 223px 16px -272px rgba(0, 0, 0, 0.25);
}
.shop__interier-lighter {
    z-index: 1;
    position: absolute;
    width: 150px;
    height: 150px;
    /* left: 191px; */
    /* top: 303px; */
    opacity: 0;
    filter: blur(20px);
    border-radius: 50%;
    background-color: white;
    transition: all 0.4s ease-in-out;
}

.shop__interier-lighter.active {
    filter: blur(40px);
    opacity: 0.8;
    box-shadow: 0px 0px 520px 200px white;
    /* animation: 1s ease-in-out lightAnim infinite; */
}

/* @keyframes lightAnim {
    0% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.8;
    }
} */

/* .shop__interier-lighter-img {
    z-index: 1;
    position: absolute;
    width: 90%;
    height: 90%;
} */

/* #endregion */

/* #endregion */

@media (max-width: 1600px) {
    .shop,
    .container {
        max-width: 1440px;
    }

    .nav .container {
        align-items: center;
    }

    .shop .container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .shop__content-desc {
        margin: 80px auto;
        width: 90%;
        text-align: center;
    }
    .collection__items {
        margin-top: 25px;
        border-radius: 15px;
    }
    .shop__interier {
        width: fit-content;
    }
    .shop__interier-room {
        box-shadow: none;
    }
    .shop__collection-lamp {
        left: 50%;
    }
}

@media (max-width: 1024px) {
    .nav {
        padding: 20px 0;
    }
    .nav__logo {
        max-height: 40px;
    }
    .nav__burger {
        display: flex;
    }
    .nav__menu {
        overflow: hidden;
        height: 0;
        flex-basis: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .shop__content-desc {
        font-size: 20px;
    }

    .shop__interier {
        max-width: 95%;
        font-size: 10vw;
    }
    .shop__collection-lamp {
        left: 250px;
    }
    .shop__interier-lamp {
        left: 24%;
        max-width: 18%;
        max-height: 33%;
    }
    .shop__interier-lighter {
        width: 17.2%;
        height: 13.6%;
    }
    .shop__interier-lighter.active {
        box-shadow: 0px 0px 4em 2em white;
    }
}

@media (max-width: 630px) {
    .nav {
        padding: 10px 0;
    }
    .nav__logo {
        max-height: 30px;
    }

    .shop__collection-lamp {
        left: 0px;
        max-height: 500px;
        max-width: 40%;
    }

    .shop__content-desc {
        margin: 30px auto 80px;
        font-size: 14px;
    }

    .shop__collection-desc {
        padding-top: 600px;
    }
    .shop__collection-ellipse {
        top: 460px;
    }
    .collection__items {
        position: absolute;
        right: 0px;
        max-width: 169px;
        width: 50%;
    }
    .collection__item {
        width: 90%;
        height: 90%;
    }
    .collection__items-box {
        margin-bottom: 10px;
    }
}
